  svg.rum{
    width: 0.8em;
    height: 0.8em;
    top: 0.05em;
    margin: 0 5px 0 5px;
    position: relative;
    transform-origin: center center;
    /*preserveAspectRatio= 'xMinYMax meet';*/
  }
  svg.image{
    height: 100%;
    width: 100%;
    top: 0px;
    margin: 0;
  }
  svg.rum>use{
    fill: currentColor;
  }
  .rum-xlg{
    transform: scale(1.2,1.2);
    margin: 0 7px 0 7px !important;
  }
  .rum-lg{
    transform: scale(1.1,1.1);
    margin: 0 6px 0 6px !important;
  }
  .rum-sm{
    transform: scale(0.9,0.9);
    margin: 0 4px 0 4px !important;
  }
  .rum-xsm{
    transform: scale(0.8,0.8);
    margin: 0 3px 0 3px !important;
  }
  svg.rum-shadow use{
    box-shadow: 2px 2px;
    background-color: black;
  }
  [class*='-fast'] svg,
  svg[class*='-fast']{
    transition-duration: 0.1s !important;
  }
  [class*='-slow'] svg,
  svg[class*='-slow']{
    transition-duration: 0.3s !important;
  }
       /* Hover Scale */
  [class*='rum-hover'] svg,
  svg[class*='rum-hover']{
    transition: all ease-in-out 0.2s;
  }
  [class*='rum-hover']:hover,
  svg[class*='rum-hover']:hover{
    cursor: pointer;
  }
  [class*='rum-hover-scale-down']:hover svg[class*='rum-xsm'],
  svg[class*='rum-hover-scale-down'][class*='rum-xsm']:hover{
    transform: scale(0.7,0.7);
  }
  [class*='rum-hover-scale-down']:hover svg[class*='rum-sm'],
  svg[class*='rum-hover-scale-down'][class*='rum-sm']:hover{
    transform: scale(0.8,0.8);
  }
  [class*='rum-hover-scale-down']:hover svg,
  svg[class*='rum-hover-scale-down']:hover,
  [class*='rum-hover-scale-up']:hover svg[class*='rum-xsm'],
  svg.rum-hover-scale-up[class*='rum-xsm']:hover{
    transform: scale(0.9,0.9);
  }
  [class*='rum-hover-scale-down']:hover svg[class*='rum-lg'],
  svg[class*='rum-hover-scale-down'][class*='rum-lg']:hover,
  [class*='rum-hover-scale-up']:hover svgElement[class*='rum-sm'],
  svg[class*='rum-hover-scale-up'][class*='rum-sm']:hover{
    transform: scale(1,1);
  }
  [class*='rum-hover-scale-down']:hover svg[class*='rum-xlg'],
  svg[class*='rum-hover-scale-down'][class*='rum-xlg']:hover,
  [class*='rum-hover-scale-up']:hover svg,
  svg[class*='rum-hover-scale-up']:hover{
    transform: scale(1.1,1.1);
  }
  [class*='rum-hover-scale-up']:hover svg[class*='rum-lg'],
  svg[class*='rum-hover-scale-up'][class*='rum-lg']:hover{
    transform: scale(1.2,1.2);
  }
  [class*='rum-hover-scale-up']:hover svg[class*='rum-xlg'],
  svg[class*='rum-hover-scale-up'][class*='rum-xlg']:hover{
    transform: scale(1.3,1.3);
  }
        /* End HOver scale */
        /* Raise */
  [class*='rum-hover-raise-up']:hover svg.rum-xlg, 
  svg[class*='rum-hover-raise-up'].rum-xlg:hover{
    transform: translateY(-10%) scale(1.2,1.2);
  }
  [class*='rum-hover-raise-up']:hover svg.rum-lg, 
  svg[class*='rum-hover-raise-up'].rum-lg:hover{
    transform: translateY(-10%) scale(1.1,1.1);
  }
  [class*='rum-hover-raise-up']:hover svg, 
  svg[class*='rum-hover-raise-up']:hover{
    transform: translateY(-10%);
  }
  [class*='rum-hover-raise-up']:hover svg.rum-sm, 
  svg[class*='rum-hover-raise-up'].rum-sm:hover{
    transform: translateY(-10%) scale(0.9,0.9);
  }
  [class*='rum-hover-raise-up']:hover svg.rum-xsm, 
  svg[class*='rum-hover-raise-up'].rum-xsm:hover{
    transform: translateY(-10%) scale(0.8,0.8);
  }
  [class*='rum-hover-raise-down']:hover svg.rum-xlg,
  svg[class*='rum-hover-raise-down'].rum-xlg:hover{
    transform: translateY(10%) scale(1.2,1.2);
  }
  [class*='rum-hover-raise-down']:hover svg.rum-lg,
  svg[class*='rum-hover-raise-down'].rum-lg:hover{
    transform: translateY(10%) scale(1.1,1.1);
  }
  [class*='rum-hover-raise-down']:hover svg,
  svg[class*='rum-hover-raise-down']:hover{
    transform: translateY(10%);
  }
  [class*='rum-hover-raise-down']:hover svg.rum-sm,
  svg[class*='rum-hover-raise-down'].rum-sm:hover{
    transform: translateY(10%) scale(0.9,0.9);
  }
  [class*='rum-hover-raise-down']:hover svg.rum-xsm,
  svg[class*='rum-hover-raise-down'].rum-xsm:hover{
    transform: translateY(10%) scale(0.8,0.8);
  }

  .rum-stroke>use{
    fill: none !important;
    stroke: currentColor;
    stroke-width: 1;
  }
  svg[class*='border'],svg[class*='-box']:hover{
    border-style: solid;
    width: 0.75em;
    height: 0.75em;
    border-width: 0.05em;
  }
  svg[class*='border-dashed'],svg[class*='-box-dashed']:hover{
    border-style: dashed;
  }
  svg[class*='border-dotted'],svg[class*='-box-dotted']:hover{
    border-style: dotted;
  }
  svg[class*='-rounded'],svg[class*='-rounded']:hover{
    border-radius: 5px;
  }
  svg[class*='-L'], svg[class*='-L']:hover{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px; 
    border-left-style: none;
  }
  svg[class*='-R'], svg[class*='-L']:hover{
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px; 
    border-right-style: none;
  }
  svg[class*='-T'], svg[class*='-L']:hover{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px; 
    border-top-style: none;
  }
  svg[class*='-B'], svg[class*='-L']:hover{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px; 
    border-bottom-style: none;
  }
  svg[class*='underline']{
    top: -2px;
    border: none;
    border-bottom: solid 2px;
  }
  svg[class*='underline-dotted']{
    border-bottom-style: dotted;
  }
  svg[class*='underline-dashed']{
    border-bottom-style: dashed;
  }

